@model List<HomeWork.Models.ViewModel.TableModels>
@{
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>類別</th>
                <th>日期</th>
                <th>金額</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Sharp.ToString().Substring(0,5)</td>
                    <td>@item.Category</td>
                    <td>@item.Date.ToString("yyyy-MM-dd")</td>
                    <td>@item.Money.ToString("#,###")</td>
                    <td>@item.Remark</td>
                </tr>

            }
                   
        </table>
    </div>
</div>
